<p>In evaluating your final project, I will take the following into account (note that different criteria apply
    differently, depending on the direction of your project):
</p>

<ul>
    <li>The time/effort you put into your project</li>
    <li>Your reflection of your own learning and possible next steps</li>
    <li>The coding and design elements that you used to bring your idea to life</li>
</ul>
<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Points</th>
            <th>Evaluation Criteria</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Scope of the Project</td>
            <td>10</td>
            <td>
                <ul>
                    <li>Was the scope of your project commensurate with your level of experience?</li>
                    <li>Did everyone on your team substantively contribute to the project? (if applicable)</li>
                    <li>Did you exhibit creativity (if applicable...some projects require more creativity than others)?
                    </li>
                    <li>Did you take any risks (e.g. try to learn something you didn’t initially know how to do)?</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Execution of the project</td>
            <td>10</td>
            <td>
                <ul>
                    <li>Did you arrive at a reasonable stopping point by the end?</li>
                    <li>Does your code works as intended?</li>
                    <li>Did you use function, loops, variables, and conditional statements in your implementation
                        (implementations will vary)?</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Reflection</td>
            <td>10</td>
            <td>
                <ul>
                    <li>Did you write a thoughtful reflection of the intent of the project and any lessons learned?</li>
                    <li>Did you address all of the prompts (specified above)?</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>